\#*\#
*~
.recentf
server/
auto-save-list/
eshell/
kkcrc
recentf
ac-comphist.dat
ido.last
network-security.data
/.emacs.d/straight/build/
/.emacs.d/straight/build-cache.el
/.emacs.d/straight/repos/
/.emacs.d/straight/modified
projectile-bookmarks.eld
.lsp-session-v1
elpa/